
.TravelCatHeader{
    text-align: center;
    border-bottom: green solid 3px;
}

.travelDiv{
    margin-top: 20px;
 width: 40%;
 margin-left: auto;
 margin-right: auto;
}

.travelSubHeader{
    text-align: center;
}

.travelCard{
    cursor: pointer;
    width: 400px;
    margin-bottom: 20px;
    background-color: whitesmoke !important;
}
.cardImg{
    width: 280px;
    margin-right: auto;
    margin-left: auto;
}

.travelAboutDiv{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.travelText{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

@media screen and (max-width:500px) {
  .travelCard{
      width: 100%;
  }
}

@media screen and (max-width:500px) {
    .cardImg{
        width: 140px;
    }
  }
