.sightDiv{
    margin-top: 30px;
    border-bottom: green solid 5px;
}

.contentDiv{
    width: 80%;
    margin-top: 500px;
    margin-left: auto;
    margin-right: auto;
}

.cardTitle{
    text-align: center;
    text-decoration: underline green;
}

.cardImgs{
    width: 400px;
}

.desText{
    font-size: 24px;
}
.sightCard{
    display: none !important;
}

@media screen and (max-width:1000px) {
    .contentDiv{
        width: 100%;
    }
}

@media screen and (max-width:900px) {
    .sightDiv{
        display: none;
    }
    .contentDiv{
        margin-top: 100px;
    }
    .sightCard{
        display: block !important;
        position: relative;
        width: 400px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        background-color: whitesmoke !important;
    }
    .cardImgs{
        width: 399px;
    }
}

@media screen and (max-width:410px) {
    .contentDiv{
        margin-top: 200px;
    }
    .cardImgs{
        width:250px;
    }
    .sightCard{
        width: 251px;
    }
}